<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
   

        <h1>Entery</h1>
            <form name="" method="POST" action="/">

                user name: <input type="text" name="UserName"><br>
                Password: <input type="text" name="Password"><br>
                Appkey: <input type="text" name="AppKey"><br>
                Force ref:<input type="text" name="ForceRefreshAccessToken"><br>
                
                <input type="submit" value="Submit">

            </form>

            <%= data %>


    </form>
  </body>
</html>
